@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
*{
  margin: 0;
  padding: 0;
}
.home{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 5px;
  z-index: 1000;
  /* width: 100%; */
  height: 115px;
}

.bars{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  transition: 1s;
}
.bars p{
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  margin: 10px;
}
.bars p:hover{
  background: #b3b0b0;
  border: 2px solid #b3b0b0; 
  border-radius: 15px;
}
.search-bar{
  display: inline-flex;
 align-items: center;
  justify-content: center;
  border: 2px solid black;
  color: b;
  border-radius: 20px;
  width: 27em;
  margin-left: 50px;

}
.search-bar input{
  outline: none;
  width: 27em;
  border-radius: 15px;
  font-size: 15px;
}

.bts{
  background-color: rgb(255, 111, 0);
  color: white;
  border-radius: 50px;
  padding: 10px 10px;
  margin-left: 223px;
  font-size: 20px;
  cursor: pointer;
}

.bts:hover{
  background-color: rgb(255, 123, 0);
  color: white;
  padding: 5px 5px 10px;
  
}
.links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 75px;
  cursor: pointer;
}
.links a{
  display: flex;
  margin: 15px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  

}
.hero{
 position: absolute;
 display: flex;
 margin-top: 85px;
 margin-left: 160px;
 align-items: center;
 justify-content: center;
}
.hero h6{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  /* transition: 1s; */
  
}
.hero h6:hover{
  border: 2px solid #f0e9e9;
  background-color: #f0e9e9;
  border-radius: 20px;
  /* outline: 10px solid red; */
  
}
.front{
  position: relative;
  display: block;
  text-align: center;
  justify-content: center;

}
.front h2{
  font-size: 39px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: black;
  background-color: rgb(255, 174, 0);
  height: 60px ;
}
.front-links{
  display: flex;
  justify-content: center;
  background-color: rgb(255, 174, 0);
  height: 107px;
  
}
.box{
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.fish{
height: 120px;
width: 120px;
border-radius: 50%;
overflow: hidden;


}
.box p{
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.box :hover{
  transform: scale(1.1);
  transition: 0.5s;
}
p::before{
  content: "";
  width: 15px;
  /* height: 5px; */
  top: 0;
 left: 0;
 background: red;
 position: absolute;
 transition: .5s;
}

p:hover::before{
  width: 50%;
}
.gifts{
  display: block;
  margin-top: 110px;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.gifts h3{
  font-size: 21px;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.oboy{
  display: flex;
  z-index: -50;
  overflow: hidden;
  box-shadow: inset gray;
  align-items: center;
  justify-content: center;
} 
.gifts-links {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  margin: 10px;
  border: 1px solid rgb(63, 62, 62);
  height: 290px;
  width: 240px;
  box-shadow: 3px 3px rgb(226, 225, 225);
}
.gifts-links Img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.gifts-links p{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}